# Keep this scratch directory in the repo, but never commit its contents.
*
!.gitignore

//# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi5naXRpZ25vcmUiXSwic291cmNlc0NvbnRlbnQiOlsiIyBLZWVwIHRoaXMgc2NyYXRjaCBkaXJlY3RvcnkgaW4gdGhlIHJlcG8sIGJ1dCBuZXZlciBjb21taXQgaXRzIGNvbnRlbnRzLlxuKlxuIS5naXRpZ25vcmVcbiJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSxDQUFDLENBQUMsSUFBSSxDQUFDLElBQUksQ0FBQyxPQUFPLENBQUMsU0FBUyxDQUFDLEVBQUUsQ0FBQyxHQUFHLENBQUMsSUFBSSxDQUFDLENBQUMsR0FBRyxDQUFDLEtBQUssQ0FBQyxNQUFNLENBQUMsR0FBRyxDQUFDLFFBQVE7QUFDeEU7QUFDQSxDQUFDLENBQUM7In0=